        <div class="header"> 
            <h1>Welcome</h1>
            <h2>[Product description text welcome description]</h2>
        </div>

        <div class="content">
          <p> [Show status of the devices]</p>
          <p> <button id="read-bar-code">[read bar code]</button> </p>
          <p> [ Settings links ] </p>
          <p> [ Link to log file ] </p>
          <p> [ Reboot button ] </p>
        </div>
