<div class="header">
  <h1>Settings</h1>
  <h2>[setting description text]</h2>
</div>

<div class="content">

  <section class="post">
    <h2 class="post-title">Save Network Configuration</h2>

    <form class="pure-form pure-form-stacked" method="POST" action="/settings/save.html">

    <fieldset>
      <legend>Wlan</legend>

        <label for="hostname">Host Name</label>
          <input id="hostname" name="hostname" type="text" {hostname}  placeholder="Hostname">

        <label for="dhcp" class="pure-checkbox">
          <input id="dhcp" name="dhcp_client" type="checkbox" {checked}> Enabled DHCP
        </label>

      <span id="static_configuration" class="static_configuration">
        <label for="ip">IP Address</label>
        <input id="ip" name="ip"  type="text" placeholder="192.168.1.105" onkeyup="validate_ip(this);" {ip}> <span id="ip_legend"></span>
        <label for="subnet_mask">Subnet Mask</label>
        <input id="subnet_mask" name="subnet_mask"  type="text" placeholder="255.255.255.0" onkeyup="validate_ip(this);" {subnet}> <span id="subnet_mask_legend"></span>
        <label for="gateway">Gateway</label>
        <input id="gateway" name="gateway" type="text" placeholder="192.168.1.1" onkeyup="validate_ip(this);" {gateway}> <span id="gateway_legend"></span>
        <label for="dns">Primary DNS</label>
        <input id="dns" name="dns" type="text" placeholder="192.168.1.1" onkeyup="validate_ip(this);" {dns}> <span id="dns_legend"></span>
        <label for="dns_2">Secondary DNS</label>
        <input id="dns_2" name="dns_2" type="text" placeholder="0.0.0.0" onkeyup="validate_ip(this);" {dns_2}> <span id="dns_2_legend"></span>
      </span>

      <fieldset>
      <legend>Wifi Configuration</legend>

      <label for="ssid">SSID</label>

      <select id="ssid" name="ssid">
        <option>Select ssid</option>
      </select>

      <label for="channel">Channel</label>
      <select id="channel" name="channel">
      <option>Select channel</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
      </select>

      <label for="authmode">Use Encryption</label>
      <select id="authmode" name="authmode">
        <option value="authmode">Select Authmode</option>
        <option value="open">open</option>
        <option value="WEP">WEP</option>
        <option value="WPA-PSK">WPA-PSK</option>
        <option value="WPA2-PSK">WPA2-PSK</option>
        <option value="WPA/WPA2-PSK">WPA/WPA2-PSK</option>
      </select>

      <label for="password">Key</label>
      <input id="key" name="key" type="password" placeholder="Key" {key}>

      <label for="key_chk" class="pure-checkbox">
        <input id="key_chk" name="key_chk" type="checkbox"> Show key
      </label> 
      </fieldset> 


      <fieldset>
      <legend>Configure User (Admin)</legend>

      <label for="password">Password</label>
      <input id="password" name="password" type="password" placeholder="Password" {password}>
      <br />
      <label for="admin">Administrator Password:</label>
      <input id="password_2" name="password_2" type="password" placeholder="Password" {password_second}>

      <label for="admin_chk" class="pure-checkbox">
        <input id="admin_chk" name="admin_chk" type="checkbox"> Show password
      </label> 

    </fieldset>
    </fieldset>
      <button type="submit" class="pure-button pure-button-primary">Save Configuration</button>
    </form>
  </section>

</div>

