        <div class="header"> 
            <h1>Save Device configuration</h1>
            <h2>[The configuration was saved]</h2>
        </div>

        <div class="content">
          <p> [ Success the configuration file is saved ] </p>
        </div>
