        <div class="header"> 
            <h1>About</h1>
            <h2>[Product description text welcome description]</h2>
        </div>

        <div class="content">
          <p> [About Content]</p>
          <p>eos web desarrolla automatizaciones.</p>
        </div>
