/**
 * Settings form
 *
 */

.device-name {
  margin-bottom: 3em !important;
}

legend {
  padding:.5em .6em;
  padding-left: .55555em !important;
  display:inline-block;
  border:1px solid #ccc;
  box-shadow:inset 0 1px 3px #ddd;
  border-radius:4px;
  vertical-align:middle;
  box-sizing:border-box;
  cursor: pointer;
  background: url('../images/icons8-sort-down-24.png') right center no-repeat;
}

#wifi-block,
#database-block,
#endpoint-block {
  display: none;
}

footer {
  padding: 30px 30px 30px 30px;
}

.live {
  color: #000D33;
}

footer ul li a,
footer ul li span {
  display: block;
  padding: 5px 10px 5px 10px;
  text-decoration: none; 
  color: #999;

  border:1px solid #ccc;
  box-shadow:inset 0 1px 3px #ddd;
  border-radius:4px;
}

footer ul li a:hover {
  text-decoration: none; 
  color: #000D33;
}

footer label {
  color: #094FC1;

}
