<div id="menu">
    <div class="pure-menu">
      <a class="pure-menu-heading" href="#"><img src="/images/220px-EAN13.jpg" alt="Bar Code Consultants" /></a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item">
            <a href="/welcome/index.html" class="pure-menu-link">Welcome</a></li>

            <li class="pure-menu-item">
            <a href="/settings/index.html" class="pure-menu-link">Setting</a></li>

            <li class="pure-menu-item">
            <a href="/about/index.html" class="pure-menu-link">About</a></li>

            <li class="pure-menu-item">
            <a href="/contact/index.html" class="pure-menu-link">Contact</a></li>
        </ul>
    </div>
</div>
